@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

app-guest-list, app-guest-data, app-guest-create{
    width: 100%;
}

app-guest-data{
    margin-right: 15px
}